<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Components.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Components.My.MySettings.Connectionstring1" connectionString="host=hon14nt;port=5432;database=LogisticDb;CommandTimeOut=1000;TimeOut=1000;" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Components.My.MySettings>
            <setting name="oExCon" serializeAs="String">
                <value>ODBC;DSN=PostgreSQLhon14nt;</value>
            </setting>
            <setting name="conDev" serializeAs="String">
                <value>host=localhost;port=5432;database=LogisticDb20150120;CommandTimeOut=1000;TimeOut=1000;</value>
            </setting>
            <setting name="conLive" serializeAs="String">
                <value>host=hon14nt;port=5432;database=LogisticDb;CommandTimeOut=1000;TimeOut=1000;</value>
            </setting>
            <setting name="oExConDev" serializeAs="String">
                <value>ODBC;DSN=PostgreSQLLocal;</value>
            </setting>
            <setting name="oExConLive" serializeAs="String">
                <value>ODBC;DSN=PostgreSQLhon14nt;</value>
            </setting>
            <setting name="conTest" serializeAs="String">
                <value>Host=hon10-0046D;port=5432;database=LogisticDb20111202</value>
            </setting>
            <setting name="conTest2" serializeAs="String">
                <value>host=localhost;port=5432;database=dbtest20120513</value>
            </setting>
            <setting name="contest3" serializeAs="String">
                <value>host=localhost;port=5432;database=dblivetest2</value>
            </setting>
            <setting name="contest4" serializeAs="String">
                <value>host=localhost;port=5432;database=dblivetest20120610</value>
            </setting>
            <setting name="contest5" serializeAs="String">
                <value>host=hon14nt;port=5432;database=LogisticDb;CommandTimeOut=1000;TimeOut=1000;</value>
            </setting>
            <setting name="conTest6" serializeAs="String">
                <value>host=localhost;port=5433;database=LogisticDb20200406;CommandTimeOut=1000;TimeOut=1000;</value>
            </setting>
            <setting name="oExConDev1" serializeAs="String">
                <value>ODBC;DSN=PostgreSQL30Unicode;</value>
            </setting>
            <setting name="oExConServer" serializeAs="String">
                <value>ODBC;DSN=PostgreSQLhon03nt;</value>
            </setting>
            <setting name="conLocal" serializeAs="String">
                <value>host=localhost;port=5433;database=LogisticDb20200406;CommandTimeOut=1000;TimeOut=1000;</value>
            </setting>
        </Components.My.MySettings>
    </userSettings>
</configuration>
